{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1>{% if object %}Update{% else %}Create{% endif %} Tag</h1>
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">
            {% if object %}Update{% else %}Create{% endif %} Tag
        </button>
        <a href="{% if object %}{% url 'categories:tag_detail' object.slug %}{% else %}{% url 'categories:tag_list' %}{% endif %}" 
           class="btn btn-secondary">
            Cancel
        </a>
    </form>
</div>
{% endblock %}